0. 所有的题目结果中，给出SQL语句和执行结果。

```sql
create database `hw5`;
use `hw5`;
```

1. 在新数据库中新建一张 user 表,插入几条数据,属性包含:唯一标识(id),姓名(name)性别(sex).年龄(age).联系方式(phone)，数据如下：

    ('John Doe', 'Male', 25, '123-456-7890')

    ('Jane Smith', 'Female', 31, '987-654-3210')
    
    ('Bob Johnson', 'Male', 22, '555-123-4567')

```sql
create table `user`(`id` int,`name` varchar(20),`sex` varchar(6),`age` int,`phone` varchar(20),primary key(`id`));
insert into `user` values(0,'John Doe', 'Male', 25, '123-456-7890');
insert into `user` values(1,'Jane Smith', 'Female', 31, '987-654-3210');
insert into `user` values(2,'Bob Johnson', 'Male', 22, '555-123-4567');
select * from `user`;
```

2. 写出 SQL语句,查询 user 表中所有年龄在 20-30 范围内的用户

```sql
select * from `user` where age>=20 and age<=30;
```

3. 写出SQL语句，向user表中添加自己的个人信息，并添加几条和你姓名同姓的虚拟信息。

```sql
insert into `user` values(3,'Deng Jin', 'Male', 19, '131-472-9389');
insert into `user` values(4,'Deng Xiaoming', 'Male', 20, '486-159-4860');
insert into `user` values(5,'Deng Yuqin', 'Female', 21, '957-753-3268');
select * from `user`;
```

4. 写出 SQL语句,查询 user 表中年龄在 20-30 范围内,名字包含“你的姓氏”的用户,并按照年龄从大到小排序输出

```sql
select * from `user` where age>=20 and age<=30 and name like 'Deng%' order by age desc;
```

5. 写出 SQL 语句,计算 user 表中所有用户的平均年龄

```sql
select avg(age) from user;
```

6. 新建两张表team 表(id,teamName)和score 表(id,teamid,userid,score)。其中score 表中的 teamid 为指向 team表id 的外键，userid 为指向 user表id的外键

```sql
create table `team`(id int primary key,teamName varchar(20));
create table `score`(id int primary key,teamid int,userid int,score float,foreign key(teamid) references team(id) on delete set null,foreign key(userid) references user(id) on delete set null);
select * from team;
select * from score;
```

7. 在team表中和score表中插入合适的记录，写出 SQL语句,查询 teamName 为“ECNU”的队伍中，年龄小于 20 的用户们，结果不得为空。

```sql
insert into team values(0,'ECNU');
insert into team values(1,'DASE');
insert into score values(0,0,0,null);
insert into score values(1,0,1,83);
insert into score values(2,0,3,91);
insert into score values(3,0,2,98);
insert into score values(4,1,4,75);
insert into score values(5,1,5,84);
select * from user where age<20 and id in(select userid from score where teamid=(select id from team where teamName='ECNU'));
```

```sql
```

8. 写出 SQL 语句,计算 teamName为“ECNU”的总分(假设 score 存在 null值,nul值默认为 0 加入计算)。

```sql
select sum(ifnull(score,0)) from score where teamid=0;
```

9. 写出SQL语句，删除user表中个人信息的记录。

```sql
delete from user where id=3;
select * from user;
```